.inputContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: -2.8em;
   
}

.inputContainer span {
    position: relative;
    top: -3.2em;
    left: 8.2em;
    z-index: 3;
    cursor: pointer;
}

@media (max-width: 768px) {
    .inputContainer span {
        left: 6.2em;
        top: -2.7em;
    }
}
