.inputContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.inputContainer span {
    position: relative;
    top: -3.2em;
    left: 8.2em;
    z-index: 3;
    cursor: pointer;
}

