.cardMainValues {
  background-color: var(--greyLighteen2);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43em;
  height: 44px;
  padding: 14px 16px;
  margin-bottom: 40px;
}

.cardMainValues h2 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .cardMainValues {
    width: 80vw;
    margin: auto;
    /* position: relative;
    right: 30%; */
  }

}